.signIn {
  outline: none;
  border: 2px black solid;
  box-shadow: 3px 3px 3px rgb(65, 65, 65);
}

.tryItOut {
  font-weight: bold;
  margin-top: 50px;
  font-size: 12px;
  letter-spacing: 0px;
  cursor: pointer;
  transition: color 0.6s;
}

.tryItOut:hover {
  color: whitesmoke;
}

